<!doctype html>
<html>
    <script>
        let counter = 0;

        function httpGet(url, callback){
            xmlhttp=new XMLHttpRequest();
            xmlhttp.onreadystatechange=()=>{
                callback(xmlhttp);
            }
            xmlhttp.open("GET", url, false );
            xmlhttp.send();
        }

        async function add(){
            let url = {{ check_token_url }};
            httpGet(url, (r) => {
                    if (r.status == 200){
                        counter ++;
                        console.log(counter);
                    }
                }
            );
        }

        function sendToken(){
            let url = {{ send_token_url }};
            httpGet(url, () => {}
            );
        }
    </script>
    <body>
        <h1>Hello if you see this than you have apache running on {{ hostname }}!</h1>

        <input type='button' value='Add 1' onclick='add();' />
        {% set button_string = 'Send token to' ~ ' ' ~ next_instace%}
        <input type='button' value="{{ next_instace }}" onclick='sendReset();' />

    </body>
</html>